
@{
    ViewBag.Title = "AddMovie";
}

<h2>AddMovie</h2>

<form action="">
    Movie Name:<br>
    <input type="text" name="moviename" value="Mickey"><br>
    Main Actor:<br>
    <input type="text" name="actorname" value="Mouse"><br>
    Release Date:<br>
    <input type="text" name="releasedate" value="Mickey"><br>
    Web Site:<br>
    <input type="text" name="website" value="Mouse"><br>
    Country:<br>
    <input type="text" name="country" value="Mouse"><br> <!-- Should be made as a drop down list-->

    <input type="submit" value="Submit">
</form>
